
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Tesita | Early Diagnosis</title>
	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="description" content="" />
	<meta name="keywords" content="">
	<meta name="author" content="Phoenixcoded" />
	<!-- Favicon icon -->
	<link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">

	<!-- vendor css -->
	<link rel="stylesheet" href="/static/css/style.css">
	
	

</head>
<body class="">
	<!-- [ Pre-loader ] start -->
	<div class="loader-bg">
		<div class="loader-track">
			<div class="loader-fill"></div>
		</div>
	</div>
	<!-- [ Pre-loader ] End -->
	<!-- [ navigation menu ] start -->
    {% include 'basecomponent/navbar.html' %}
	<!-- [ navigation menu ] end -->
	<!-- [ Header ] start -->
    {% include 'basecomponent/topnavbar.html' %}
	<!-- [ Header ] end -->
	
	

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
	<div class="pcoded-content">
		<!-- [ breadcrumb ] start -->
		<div class="page-header">
			<div class="page-block">
				<div class="row align-items-center">
					<div class="col-md-12">
						<div class="page-header-title">
							<h5 class="m-b-10">Early Diagnosis</h5>
						</div>
						<ul class="breadcrumb">
							<li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#!">New Patients</a></li>
                            <li class="breadcrumb-item"><a href="#!">Early Diagnosis</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- [ breadcrumb ] end -->
		<!-- [ Main Content ] start -->
		<div class="row">
			<!-- [ card ] start -->
			<div class="col-sm-12">
				<div class="card">
					<div class="card-header">
						<h5>Basic Tabs</h5>
					</div>
					<div class="card-body">
						<ul class="nav nav-tabs mb-3" id="myTab" role="tablist">
							<li class="nav-item">
								<a class="nav-link active text-uppercase" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
							</li>
							<li class="nav-item">
								<a class="nav-link text-uppercase" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
							</li>
						</ul>
						<div class="tab-content" id="myTabContent">
							<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
								<p class="mb-0"><strong>Name:</strong> {{patient.name}} </p>
								<p class="mb-0"><strong>Gender:</strong> {{patient.gender}}</p>
								<p class="mb-0"><strong>Age:</strong> {{patient.age}} </p>
							</div>
							<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
								<p class="mb-0"><strong>Contact:</strong> {{patient.contact}}</p>
								<p class="mb-0"><strong>Address:</strong> {{patient.address}}</p>
							</div>
						</div>
					</div>
				</div>
			
			<div class="col-xl-12">
				<div class="row">
					<div class="col-sm-12 col-md-2">
						<div class="card">
							<div class="card-body">
								<strong>Polyuria</strong>
								<p class="mb-0">{{patient.polyuria}}</p>
							</div>
						</div>
					</div>
					<div class="col-sm-12 col-md-2">
						<div class="card">
							<div class="card-body">
								<strong>Polydipsia</strong>
								<p class="mb-0">{{patient.polydipsia}}</p>
							</div>
						</div>
					</div>
					<div class="col-sm-12 col-md-2">
						<div class="card">
							<div class="card-body">
								<strong>Weakness</strong>
								<p class="mb-0">{{patient.weakness}}</p>
							</div>
						</div>
					</div>
					<div class="col-sm-12 col-md-2">
						<div class="card">
							<div class="card-body">
								<strong>S. Weight Loss</strong>
								<p class="mb-0">{{patient.sudden_weight_loss}}</p>
							</div>
						</div>
					</div>
					<div class="col-sm-12 col-md-2">
						<div class="card">
							<div class="card-body">
								<strong>Polyphagia</strong>
								<p class="mb-0">{{patient.polyphagia}}</p>
							</div>
						</div>
					</div>
					<div class="col-sm-12 col-md-2">
						<div class="card">
							<div class="card-body">
								<strong>Genital Thrush</strong>
								<p class="mb-0">{{patient.genital_thrush}}</p>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 col-md-2">
						<div class="card">
							<div class="card-body">
								<strong>Visual Blurring</strong>
								<p class="mb-0">{{patient.visual_blurring}}</p>
							</div>
						</div>
					</div>
					<div class="col-sm-12 col-md-2">
						<div class="card">
							<div class="card-body">
								<strong>Itching</strong>
								<p class="mb-0">{{patient.itching}}</p>
							</div>
						</div>
					</div>
					<div class="col-sm-12 col-md-2">
						<div class="card">
							<div class="card-body">
								<strong>Irritability</strong>
								<p class="mb-0">{{patient.irritability}}</p>
							</div>
						</div>
					</div>
					<div class="col-sm-12 col-md-2">
						<div class="card">
							<div class="card-body">
								<strong>Delayed Healing</strong>
								<p class="mb-0">{{patient.delayed_healing}}</p>
							</div>
						</div>
					</div>
					<div class="col-sm-12 col-md-2">
						<div class="card">
							<div class="card-body">
								<strong>Partial Paresis</strong>
								<p class="mb-0">{{patient.partial_paresis}}</p>
							</div>
						</div>
					</div>
					<div class="col-sm-12 col-md-2">
						<div class="card">
							<div class="card-body">
								<strong>Muscle Stiffness</strong>
								<p class="mb-0">{{patient.muscle_stiffness}}</p>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 col-md-2">
						<div class="card">
							<div class="card-body">
								<strong>Alopecia</strong>
								<p class="mb-0">{{patient.alopecia}}</p>
							</div>
						</div>
					</div>
					<div class="col-sm-12 col-md-2">
						<div class="card">
							<div class="card-body">
								<strong>Obesity</strong>
								<p class="mb-0">{{patient.obesity}}</p>
							</div>
						</div>
					</div>
					<div class="col-sm-12 col-md-2">
						<div class="card">
							<div class="card-body">
								<strong>Height</strong>
								<p class="mb-0">{{patient.height}}</p>
							</div>
						</div>
					</div>
					<div class="col-sm-12 col-md-2">
						<div class="card">
							<div class="card-body">
								<strong>Mass</strong>
								<p class="mb-0">{{patient.mass}}</p>
							</div>
						</div>
					</div>
					<div class="col-sm-12 col-md-2">
						<div class="card">
							<div class="card-body">
								<strong>Status</strong>
								<p class="mb-0">{{patient.status}}</p>
							</div>
						</div>
					</div>
				</div>


			

				
			</div>
			
			<!-- [ card ] end -->
		</div>
		<!-- [ Main Content ] end -->
	</div>
</div>
<!-- [ Main Content ] end -->
    <!-- Warning Section start -->
    <!-- Older IE warning message -->
    <!--[if lt IE 11]>
        <div class="ie-warning">
            <h1>Warning!!</h1>
            <p>You are using an outdated version of Internet Explorer, please upgrade
               <br/>to any of the following web browsers to access this website.
            </p>
            <div class="iew-container">
                <ul class="iew-download">
                    <li>
                        <a href="http://www.google.com/chrome/">
                            <img src="assets/images/browser/chrome.png" alt="Chrome">
                            <div>Chrome</div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.mozilla.org/en-US/firefox/new/">
                            <img src="assets/images/browser/firefox.png" alt="Firefox">
                            <div>Firefox</div>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.opera.com">
                            <img src="assets/images/browser/opera.png" alt="Opera">
                            <div>Opera</div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.apple.com/safari/">
                            <img src="assets/images/browser/safari.png" alt="Safari">
                            <div>Safari</div>
                        </a>
                    </li>
                    <li>
                        <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                            <img src="assets/images/browser/ie.png" alt="">
                            <div>IE (11 & above)</div>
                        </a>
                    </li>
                </ul>
            </div>
            <p>Sorry for the inconvenience!</p>
        </div>
    <![endif]-->
    <!-- Warning Section Ends -->

    <!-- Required Js -->
    <script src="/static/js/vendor-all.min.js"></script>
    <script src="/static/js/plugins/bootstrap.min.js"></script>
    <script src="/static/js/pcoded.min.js"></script>



</body>
</html>
