
<!DOCTYPE html>
<html lang="en">

<head>

	<title>Tesita | Auth Page</title>
	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="description" content="" />
	<meta name="keywords" content="">
	<meta name="author" content="Phoenixcoded" />
	<!-- Favicon icon -->
	<link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">

	<!-- vendor css -->
	<link rel="stylesheet" href="/static/css/style.css">
	
	


</head>
<body style="background-image: url(/static/images/hero-bg.jpg)">
	<!-- [ auth-signin ] start -->
<div class="auth-wrapper">
	<div class="auth-content text-center">
		<img src="assets/images/logo.png" alt="" class="img-fluid mb-4">
		<div class="card borderless">
			<div class="row align-items-center ">
				<div class="col-md-12">
					<div class="card-body">
						<h4 class="mb-3 f-w-400">Signin</h4>
						<hr>
						<form method="POST">
							{%csrf_token%}
							<div class="form-group mb-3">
								<input type="text" class="form-control" name="username" placeholder="Username">
							</div>
							<div class="form-group mb-4">
								<input type="password" class="form-control" name="password" placeholder="Password">
							</div>
							<button type="submit" class="btn btn-block btn-primary mb-4">Signin</button>
							<hr>
							{%for message in messages %}
							<div class="custom-control custom-checkbox text-left mb-4 mt-2">
								<div class="col-12">
									<div class="">
									 <span class="login-box-msg">
										{{message}}
									 </span>
									</div>
								  </div>
								  
							</div>
							{% endfor %}
        
						</form>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- [ auth-signin ] end -->


</body>

</html>
