{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Tesita | Dashboard</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="">
    <meta name="author" content="Phoenixcoded" />
    <!-- Favicon icon -->
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">

    <!-- vendor css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body class="">
    <!-- [ Pre-loader ] start -->
    <div class="loader-bg">
        <div class="loader-track">
            <div class="loader-fill"></div>
        </div>
    </div>
    <!-- [ Pre-loader ] End -->
    <!-- [ navigation menu ] start -->
    {% include 'basecomponent/navbar.html' %}
    <!-- [ navigation menu ] end -->
    <!-- [ Header ] start -->
    {% include 'basecomponent/topnavbar.html' %}
    <!-- [ Header ] end -->



    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Dashboard</h5>
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="#!">Dashboard</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <!-- [ Main Content ] start -->
            <div class="row">
                <div class="col-xl-4 col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-6">
                                    <h4>{{patient_count}}</h4>
                                    <h6 class="text-muted m-b-0">Total Patients<i class="fa fa-caret-up text-c-green m-l-10"></i></h6>
                                </div>
                                <div class="col-6">
                                    <div id="seo-chart1" class="d-flex align-items-end"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <h4>{{neg}}</h4>
                                    <h6 class="text-muted m-b-0">Non-Diabetic Patients<i class="fa fa-caret-up text-c-green m-l-10"></i></h6>
                                </div>
                                <div class="col-6">
                                    <div id="seo-chart2" class="d-flex align-items-end"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <h4>{{pos}}</h4>
                                    <h6 class="text-muted m-b-0">Diabetic Patients<i class="fa fa-caret-down text-c-red m-l-10"></i></h6>
                                </div>
                                <div class="col-6">
                                    <div id="seo-chart3" class="d-flex align-items-end"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- seo end -->
                <!-- Latest Customers start -->
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h5>General Diagnosis</h5>
                        </div>
                        <!--<script src="{% static 'js/charts/chart.min.js' %}"></script>-->
                        <!---<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>-->
                        <div class="card-body">
                            <div id="salesChart">
                                <h5>Note: </h5>
                                <h6>This model is for diagnosing women only</h6>
                                <h6>There is need of getting the patient readings on the following:</h6>
                                <ul>
                                    <li>Mass</li>
                                    <li>Glucose level</li>
                                    <li>Insulin level</li>
                                    <li>Blood Pressure</li>
                                    <li>Height</li>
                                    <li>Tricep skin thickness</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h5>Early Diagnosis</h5>
                        </div>
                        <!--<script src="{% static 'js/charts/chart.min.js' %}"></script>-->
                        <!---<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>-->
                        <div class="card-body">
                            <div id="paymentSuccessChart">
                                <h5>Note:</h5>
                                <h6>This model can be used for both men and women</h6>
                                <h6>Attribute values are to be collected based on patient's response</h6> 
                            </div>
                        </div>
                    </div>
                </div>


               
                <!-- Latest Customers end -->
            </div>
            <!-- [ Main Content ] end -->
        </div>
    </div>

    <!-- Required Js -->
    <script src="{% static 'js/vendor-all.min.js' %}"></script>
    <script src="{% static 'js/plugins/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/pcoded.min.js' %}"></script>

    <script src="{% static 'dist/chart.umd.min.js' %}"></script>

    <!--<script src="{% static 'dashboard/apexcharts.min.js' %}"></script>
    <script src="{% static 'dashboard/chart-apex.js' %}"></script>

    ChartJS
    <script src="{% static 'dashboard/chart.min.js' %}"></script>

    <custom-chart js --<script src="{% static 'libraries/vue.js' %}"></script>
    <script src="{% static 'libraries/communications.js' %}"></script>-->

    

</body>

</html>